name: Deploy to GitHub Pages
on:
  push:
    branches: [master, main]
  workflow_dispatch:
  

jobs:
  build:
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/configure-pages@v2
      - uses: fastai/workflows/quarto-ghp@master
      - uses: actions/upload-pages-artifact@v1
        with: {path: "./_docs"}

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions: write-all # {pages: write, id-token: write, contents: write}
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v1
    - name: update website and description
      run: |
        curl -X PATCH \
        -H "Accept: application/vnd.github+json" \ 
        -H "Authorization: token ${GH_TOKEN}" https://api.github.com/repos/${GITHUB_REPOSITORY} \
        -d '{"homepage":"${{steps.deployment.outputs.page_url}}"}'
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    

 

        
