name: Deploy to GitHub Pages
on:
  push:
    branches: [master, main]
  workflow_dispatch:
  

jobs:
  build:
    runs-on: ubuntu-latest
    steps: 
    - uses: fastai/workflows/quarto-ghp@master
    - name: Enable github pages
      shell: python
      run: |
        from ghapi.core import GhApi
        from nbdev.config import get_config
        cfg = get_config()
        api = GhApi(owner=cfg.user, repo=cfg.repo, token="${{inputs.ghtoken}}")
        res = api.enable_pages(branch='gh-pages')
        print(res)


    


 

        
